
<div class="row">
    <div class="col-md-12">
        <h2>Configuration UI</h2>
        <p>Need to manage your feature flags and application configuration?  You probably want to use this</p>
        <p><a class="btn btn-default" href="../ui/">Configuration UI &raquo;</a></p>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>API documentation</h2>
        <p>
            Need to get API documentation and build a custom integration with configuration services?  You probably want this.
        </p>
        <p><a class="btn btn-default" href="../swagger/">API documentation &raquo;</a></p>
    </div>
</div>